body {
  background-color: whitesmoke;
}

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.hero-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
